:root {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
}



/* colors */
/* background: #050a0a */
/* primary: #aac1c2 */
/* up: #357373 */
/* down: #f1352c */