:root {
  margin: 0;
  padding: 0;
  background-color: #050a0a;
}

html {
  color-scheme: dark light;
}


/* colors */
/* background: #050a0a */
/* primary: #aac1c2 */
/* up: #357373 */
/* down: #f1352c */