.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.cardContainer {
    background-color: lightgray;
    max-width: 600px;
    padding: 16px;
    border-radius: 12px;
}