.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 36px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 12px;
  font-weight: 700;
  color: #fff;
}

.cardContainer {
  background-color: #263349;
  height: 20em;
  border-radius: 12px;
  overflow: hidden;
}

.newsImage {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

.newsContent {
  padding: 16px;
  overflow: hidden;
}

.source {
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #d1d5db;
    opacity: 0.85;
    font-weight: 500;
    font-style: italic;
    margin-top: 8px;
}