h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
}

.card {
  background-color: #357373;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 200px;
  height: 86px;
  gap: 24px;
  padding: 8px;
  border-radius: 12px;
}
.cardDown {
  background-color: #f1352c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
min-width: 200px;
  gap: 24px;
  padding: 8px;
  border-radius: 12px;
}

.price {
  text-align: right;
}
